.authPage {
  .kiri-auth {
    background: url("./img/lgImg.jpg");
    background-size: cover;
  }
  .kiri-auth-register {
    background: url("./img/registerBg.jpg");
    background-size: cover;
  }
  .kiri-authd {
    background-size: cover;
  }

  @media only screen and (max-width: 900px) {
    .kiri-auth {
      display: none;
    }
    .kiri-authd {
      display: none;
    }
  }
}
